@import '~vuetify/src/styles/styles.sass'
@import './code'

.toc
  padding-right: 200px !important
.article__content
  h1
    padding: $spacer*10  $spacer *3
  h2
    padding: $spacer*3 0
    margin-bottom: $spacer*3
    .header-anchor
      display: none
